[DEFAULT]

[nuki]
LOCK_ID = 12345
API_KEY = this_is_secret

[telegram]
API_KEY = this_is_secret
CHAT_ID = 12345
UPDATE_INTERVAL = 10

[hook]
URL_RECEIVE = http://localhost:5001/hook


[auth]
# your chat_id = True
# and/or other ids. The default value for this section is False

[dev]
path_data = tests/data
testhook_timeout = 1
testhook_total = 10

[logging]
# adjust log levels: 10 = DEBUG, 20 = INFO (default), 30 = Warning, 40 = Error

# reduce http request info
httpx = 30
# reduce job execution info
apscheduler.executors.default = 30

#lockbot.config = 20
#lockbot.bot.core = 20
#lockbot.bot.action = 10
#lockbot.bot.status = 20